


section {
	display: none;
	padding: 20px 0 0;
	border: 1px solid #ddd;
	padding: 8px;
	height: 400px;
	width: 80%;
	margin-bottom: 20px
}

input {
  	display: none;
}

label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
	font-family: 'Proxima Nova', sans-serif;
}

label:before {
  	font-weight: 500;
  	margin-right: 10px;
}

label[for*='lab-dashboard']:before { content: '\f044'; }
label[for*='equipment-dashboard']:before { content: '\f044'; }

label:hover {
	color: #888;
	cursor: pointer;
}

input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid #009911;
	border-bottom: 1px solid #fff;
}

#lab-dashboard-tab:checked ~ #lab-dashboard-content,
#equipment-dashboard-tab:checked ~ #equipment-dashboard-content {
  	display: block;
}