
.eq-item-display {
	display: -webkit-flex;
	display: flex;
	/*width: 50%;*/
	max-width: 300px;
	margin: 12px auto;
}




h2.eq-item-text {
	text-align: center;
	line-height: 3em;
	border: 1px solid #333;
	border-radius: 6px;
	width: 200px;
	text-transform: uppercase;
}

h2.eq-item-text:hover {
	background-color: #ebebeb;
	cursor: pointer;
}

.eq-item-pdf {
	font-size: 1.2em;
	border: 1px solid #333;
	border-radius: 6px;
	margin: auto;
}

.eq-item-pdf:hover {
	background-color: #ebebeb;
	cursor: pointer;
}





/*EQUIPMENT DATABASE MODIFICATION FORM*/


.equip-mod-form {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 500px;
	height: 90%;
	margin: auto;
	overflow-y: scroll;
	background-color: #333;
	z-index: 99;
}

.equip-mod-form label {
	margin: 4px 0;
	color: #31841d;
	text-transform: uppercase;
	font-weight: 600;
}

.equip-mod-form .header {
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #111;
	background-color: #222;
	line-height: 1.6em;
}

.equip-mod-form .id {
	color: #ddd;
	font-size: 1.1em;
	font-weight: 600;
}

.equip-mod-form .amount-row {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin: 4px 0;
}

.equip-mod-form .id-content {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 8px auto;
}

.equip-mod-form .id-content label {
	border-bottom: 1px solid #bbb;
}

.equip-mod-form .amount-content {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 8px auto;
}

.equip-mod-form .loc-content {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 8px auto;
}

.equip-mod-form .button {
	margin: 4px 0;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	text-align: center;
	line-height: 1.6em;
	font-size: 1.2em;
	color: #ddd;
	font-weight: normal;
	background: linear-gradient(to bottom, #333 0%, #333 50%, #222 100%);
}

.equip-mod-form #add-location {
	padding: 5px;
	background-color: #333;
	border: 1px solid #000;
	border-radius: 4px;
	color: #999;
	margin: 4px auto;
}

.equip-mod-form #add-location:hover {
	background-color: #555;
	color: #fff;
}

.equip-mod-form .footer {
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #111;
	background-color: #222;
}

.equip-mod-form .submit {
	width: 100%;
	margin: 0;
	line-height: 2em;
	font-size: 1.2em;
	color: #ddd;
	font-weight: normal;
	background: linear-gradient(to bottom, #333 0%, #333 50%, #222 100%);
	border: none;
}

.equip-mod-form .submit:hover {
	background: linear-gradient(to bottom, #444 0%, #444 50%, #333 100%);
	color: #fff;
}


@media only screen and (max-width : 800px) {
	.equip-mod-form {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
}