
h1, h2 {
	font-family: 'Proxima Nova', sans-serif;
}

h2 {
	font-size: 1em;
}

#room-map-container {
	display: flex;
	justify-content: center;
	margin: 60px auto;
}

object {
	width: 500px;
	border: 1px solid #333;
	box-shadow: 0 1px 2px rgba(0,1,0,.5);
	border-radius: 3px;
	padding: 20px;
}

#room-number,
#room-name,
#click {
	height: 20px;
	text-align: center;
}


svg #pjl-rooms {
	fill: #c1ad85;
	stroke: #FFF;
	stroke-width: 2px;
}

	svg #pjl-rooms path:hover {
		fill: #009b21;
		cursor: pointer;
	}


svg #non-pjl-rooms,
svg #stairwells {
	fill: #DFDFDF;
	stroke: #FFF;
	stroke-width: 2px;
}

	svg #non-pjl-rooms {
		cursor: default;
	}



