

/*Do __NOT__ change classes or ids without checking jQuery and D3 selectors in the JS code*/

/*******************************************************************/
/*              GENERAL SITE-WIDE STYLES                           */
/*******************************************************************/


@font-face {
    font-family: logoFont;
    src: url(../fonts/webfonts_Flipside-BRK/Flipside-BRK.ttf.woff);
}

h1,
h2,
h3,
h4,
p,
a,
label {
	line-height: 1.3em;
	margin: 2px 10px;
	padding: 2px;
	font-size: .9em;
	font-family: 'Proxima Nova', sans-serif;
	text-decoration: none;
}

a {
	color: #454565;
}

	a:hover {
		transition: all .3s ease;
		color: #0000EE;
	}

h4 {
	font-weight: 500;
}

body,
html {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	/*min-width: 270px;*/
}






/*******************************************************************/
/*                 HEADER                                          */
/*******************************************************************/

header {
	min-height: 60px;
	background: linear-gradient(#bbbbbb, #939393);
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	box-shadow: 0 0 2px 1px rgba(0,0,0,1);
}

#header-baseline {
	height: 36px;
	width: 100%;
	background-color: #333;
	position: fixed;
	border-bottom: 1px solid #FFF;
	z-index: 2;
}

#pjl-logo {
	color: #EEE;
	font-family: logoFont;
	margin: 1px 10px;
	padding: 0;
	font-size: 1.7em;
	display: inline-block;
}

	#pjl-logo:hover {
		cursor: pointer;
		color: #FFF;
	}

.need-help {
	float: right;
	margin: 0;
	line-height: 2.2em;
	color: #888;
}

.need-help-text {
	display: inline-block;
}

.need-help:hover {
	transition: all .3s ease;
	color: white;
	cursor: pointer;
}

.need-help > i {
	color: #ddd;
	font-weight: 500;
}

svg path:hover {
	cursor: pointer;
}

svg text {
	pointer-events: none;
}







/*******************************************************************/
/*                    LANDING PAGE STYLES                             */
/*******************************************************************/





#landing-hero {
	width: 100%;
	height: 400px;
	background-color: #222;
	overflow: hidden;
}

#landing-hero img {
	height: 100%;
	opacity: .1;
}

.hero-bottom {
	width: 100%;
	height: 36px;
	background-color: #222;
	border-top: 1px solid #111;
}


#landing-hero-welcome {
	color: #fff;
	font-size: 4em;
	position: absolute;
	top: 130px;
	z-index: 1;
}

#landing-hero-pjl {
	color: #fff;
	position: absolute;
	top: 250px;
	letter-spacing: 10px;
	font-size: 2.4em;
	font-weight: 400;
}




#landing-intro-container {
	padding: 120px 0;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#landing-intro-text {
	/*min-width: 320px;*/
	flex: 5;
}

.landing-intro {
	font-size: 1em;
	color: #555;
}

	.landing-intro span {
		font-size: 1.6em;
		color: #222;
	}


.landing-list {
	margin: 30px;
}

.landing-list-item {
	margin: 10px;
}


.fa-caret-right {
	margin-right: 20px;
	color: #050;
}


#resource-buttons {
	display: flex;
}

.resource-button:not(:last-child):not(:first-child) {
	border-right: 1px solid #000;
	border-left: 1px solid #333;
}

.resource-button:last-child {
	border-left: 1px solid #333;
}

.resource-button:first-child {
	border-right: 1px solid #000;
}

.resource-button:hover > .resource-button-text {
	background-color: rgba(256,256,256,.05);
	cursor: pointer;
	color: #fff;
}

.resource-button-text {
	color: #eee;
	padding: 7px 12px;
	margin: 0;
	font-weight: 500;
	font-size: 1em;
	display: inline-block;
	pointer-events: none;
}

.resource-dropdown {
	display: none;
	position: absolute;
	z-index: 99;
}

.resource-dropdown-content {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	background-color: #222;
	pointer-events: none;
}

.resource-dropdown-content > p {
	color: #eee;
	border-top: 1px solid #000;
	margin: 0;
	padding: 4px 12px;
	pointer-events: auto;
}

	.resource-dropdown-content > p:hover {
		background-color: rgba(256,256,256, .1);
		color: #fff;
		cursor: pointer;
	}

#landing-staff-container {
	height: 40px;
	background-color: #939393;
}

#staff-profiles {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.staff-profile {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	margin: 40px;
}

.staff-profile-photo {
	width: 200px;
	clip-path: circle(100px);
}



.mobile-landing-nav {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	left: 0;
	width: 100%;
	max-width: 400px;
	z-index: 99;
	display: none;
	background-color: #222;
	border-right: solid 1px #000;
	overflow: scroll;
}

#mobile-nav-button {
	color: #ddd;
	position: relative;
	top: -6px;
	padding: 8px;
	display: none;
}

#mobile-nav-button:hover {
	cursor: pointer;
	color: #fff;
	transition: all .3s ease;
}


.mobile-resource-button-text {
	color: #eee;
	padding: 7px 12px 0 4px;
	margin: 0;
	font-weight: 600;
	font-size: 1em;
	display: inline-block;
	pointer-events: none;
	border-bottom: solid 1px #666;
	width: 100%;
}

.mobile-resource-dropdown {
	display: none;
	position: absolute;
	z-index: 99;
}

.mobile-resource-dropdown-content {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.mobile-resource-dropdown-content > p {
	color: #ddd;
	margin: 0 20px;
	padding: 4px 12px;
	pointer-events: auto;
	width: 100%;
}

.mobile-resource-dropdown-content > p:hover {
	background-color: #252525;
	color: #fff;
	cursor: default;
}

.mobile-resource-dropdown-content > p:active {
	background-color: #333;
	color: #fff;
}





/*TITLE*/

.title-flex {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding-top: 16px;
}

#title {
	font-weight: 600;
	font-size: 2.3em;
}

#subtitle {
	font-weight: 400;
	font-size: 1.3em;
	letter-spacing: 5px;
}

#page-title {
	font-weight: 500;
	font-size: 1em;
}










/*SEARCH BAR STYLES*/

.search-container {
	margin: 5px 5px 5px 10px;
	transition: all .3s ease;
	min-width: 270px;
}

.search-box{
	position: relative;
  	max-width: 490px;
  	display: block;
  	margin: 5px 5px 5px 10px;
  	transition: all .3s ease;
  	width: 75%;
}

#search-bar {
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	outline: none;
 }

 #search-bar:hover, #search-bar:focus {
 	transition: all .3s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
 }

.search-icon {
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	top: -45px;
	right: -35px;
}

	.search-icon:hover {
		cursor: pointer;
	}

























/*******************************************************************/
/*                 FOOTER                                          */
/*******************************************************************/

footer {
	min-height: 200px;
	background-color: #222;
	box-shadow: 0 0 2px 1px rgba(0,0,0,1);
}

	footer .wrap {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 0;
	}

	footer a,
	footer p {
		text-decoration: none;
		color: #555555;
		padding: 0;
		margin: 0;
	}

	footer a:hover {
		color: #FFFFFF;
	}

	footer h1,
	footer h2,
	footer h3,
	footer h4 {
	 	padding: 0;
	 	margin: 0 0 2px 0;
	 	color: #EEE;
	}

#footer-baseline {
	height: 40px;
	width: 100%;
	background-color: #939393;
	position: relative;
	bottom: -100%;
	border-top: 1px solid #FFF;
}

#footer-left {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#footer-mid {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding: 10px;
}

.footer-title {
	margin-bottom: 10px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 2px;
	font-size: 1.2em;
	margin-bottom: 30px;
}

#staff-members {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#footer-right {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.staff-member {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	margin: 0 100px 10px 0;
}

.staff-name:hover {
	cursor: pointer;
}

.staff-details {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.staff-small-detail {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	margin-top: 4px;
}

	.staff-small-detail:nth-child(3) {
		margin-top: 14px;
	}

.contact-icon {
	height: 16px;
	width: 16px;
	margin-right: 5px;
}

.staff-mugshot {
	height: 116px;
	width: 116px;
	margin-right: 12px;
	border-radius: 4px;
	border: 1px solid #252525;
}

	.staff-mugshot:hover {
		opacity: .85;
	}









/*******************************************************************/
/*                 STYLING FOR DIALOGS & MODALS                    */
/*******************************************************************/



#zip-progress-bar {
	width: 400px;
	height: 200px;
	position: fixed;
	bottom: -100px;
	background-color: rgba(250,250,250,.9);
	display: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 4px 4px 0 0;
	box-shadow: 0 0 32px 2px rgba(0,0,0,.3);
}

#zip-progress-bar progress {
	position: relative;
	width: 360px;
	height: 20px;
	left: 20px;
	bottom: -26px;
	padding: 0px;
	border: none;
}

#zip-progress-bar #file-prep {
	padding: 6px;
	color: #FFF;
	background-color: #424242;
	border-radius: 4px 4px 0 0;
	font-size: 1em;
}

#zip-progress-header {
	display: flex;
	display: -webkit-flex;
	background-color: #424242;
	justify-content: space-between;
	border-radius: 4px 4px 0 0;
}

#zip-progress-bar progress {
	color: #009900;
}

#zip-progress-bar progress::-webkit-progress-bar {
	background-color: #009900;
}

#zip-progress-bar progress::-webkit-progress-value {
	background: #009900;
}

#zip-progress-bar progress::-moz-progress-bar {
	background: #009900;
}





.modal-screen {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.03);
}

#zip-options {
	margin: 40vh auto;
	width: 30%;
	border:	0px;
	border-radius: 4px;
	box-shadow: 0 0 32px 2px rgba(0,0,0,.3);
	background-color: #FFF;
	display:none;
	min-width: 240px;
}

#zip-options-number {
	font-weight: 600;
	font-size: .8em;
}

#download-options {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 10px;
}

	#download-options label {
		font-size: 1em;
		padding: 10px 10px;
		font-weight: 600;
		margin: 0;
	}

	#download-options input {
		outline: 0;
		padding: 10px;
		margin: 0;
	}

#download-options-left,
#download-options-right {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.download-options-row {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}

.download-options-col {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.download-options-item {
	margin: 8px;
}

.vertical-divider {
	width: 1px;
	background-color: #ddd;
}


.modal-close-icon {
	height: 34px;
	padding: 2px;
}

#zip-options-header {
	display: flex;
	display: -webkit-flex;
	background-color: #424242;
	justify-content: space-between;
	border-radius: 4px 4px 0 0;
}

#zip-options-title {
	color: #FFF;
	font-size: 1.2em;
	padding: 2px;
	margin: auto 10px;
}

#zip-options-body > p {
	font-size: 1em;
	padding: 10px;
}

.modal-close-button {
	border-left: 1px solid #555;
	background-image: url("../img/close-icon-dim.png");
	background-size: 100% 100%;
	width: 34px;
	height: 34px;
}

	.modal-close-button:hover {
		background-image: url("../img/close-icon-bright.png");
		cursor: pointer;
	}


#zip-options-footer {
	text-align: center;
}

#zip-download-confirm {
	background-color: #555;
	color: #EEE;
	padding: 4px;
	font-size: 1.2em;
	margin: 0;
	border-radius: 0 0 4px 4px;
}

	#zip-download-confirm:hover {
		background-color: #424242;
		color: #FFF;
		cursor: pointer;
	}

#zip-options-warning {
	position: relative;
	width: 100%;
	display: none;
	background-color: #424242;
	text-align: center;
	height: 100%;
	border-radius: 0 0 4px 4px;
	padding-top: 6px;
}

	#zip-options-warning p {
		color: #fff;
		display: inline;
	}

	#zip-options-warning i {
		color: #f7c71b;
		display: inline;
	}


.blurred-page {
	-webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
}


.contact {
	position: fixed;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 800px;
	background-color: #eee;
	z-index: 99;
	display: none;
	box-shadow: 0 -2px 4px #333;
}

.comment-form {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding: 4px;
}

.comment-form label {
	color: #ccc;
	margin: 4px;
	padding: 0;
}

.comment-form textarea {
	resize: none;
	min-height: 90px;
	border: 1px solid #000;
	box-shadow: 0 0 3px #000 inset;
	background-color: #ddd;
	color: #222;
	border-radius: 3px;
	margin: 4px;
	padding: 2px;
}

#comment-email {
	border: 1px solid #000;
	box-shadow: 0 0 3px #000 inset;
	background-color: #ddd;
	color: #222;
	min-height: 1.8em;
	border-radius: 3px;
	margin: 4px;
	padding: 2px;
}

#comment-email::placeholder, .comment-form textarea {
	color: #000;
}

.submit-button {
	margin: 4px auto;
	padding: 2px 4px;
	text-transform: uppercase;
	font-weight: 600;
	color: #bbb;
	border-radius: 3px;
	box-shadow: 0 1px 1px #000;
	line-height: 1.8em;
	background-color: #222;
	border: 1px solid #000;
}

.submit-button:hover {
	color: #eee;
}





@media only screen and (max-width : 800px) {
	#mobile-nav-button {
		display: inline-block;
	}

	.need-help-text {
		display: none;
	}

	#resource-buttons {
		display: none;
	}

	#landing-hero-welcome {
		font-size: 2.8em;
		text-align: center;
		left: 0;
		right: 0;
	}

	#landing-hero-pjl {
		font-size: 1.6em;
		text-align: center;
	}

	#staff-members {
		flex-direction: column;
	}
}

