

/*Do __NOT__ change classes or ids without checking jQuery and D3 selectors in the JS code*/

/*******************************************************************/
/*              GENERAL SITE-WIDE STYLES                           */
/*******************************************************************/


*:not(.search-box *) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: logoFont;
    src: url(../fonts/webfonts_Flipside-BRK/Flipside-BRK.ttf.woff);
}

h1,
h2,
h3,
h4,
p,
a,
label {
	line-height: 1.3em;
	margin: 2px 10px;
	padding: 2px;
	font-size: .9em;
	font-family: 'Proxima Nova', sans-serif;
	text-decoration: none;
}

a {
	color: #454565;
}

	a:hover {
		transition: all .3s ease;
		color: #0000EE;
	}

h4 {
	font-weight: 500;
}

body,
html {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	/*min-width: 270px;*/
}


body.no-scroll {
	overflow: hidden;
}



/*******************************************************************/
/*                 HEADER                                          */
/*******************************************************************/

header {
	min-height: 60px;
	background: linear-gradient(#bbbbbb, #939393);
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	box-shadow: 0 0 2px 1px rgba(0,0,0,1);
}

#header-baseline {
	height: 36px;
	width: 100%;
	background-color: #333;
	position: fixed;
	border-bottom: 1px solid #FFF;
	z-index: 2;
}

#pjl-logo {
	color: #EEE;
	font-family: logoFont;
	margin: 1px 10px;
	padding: 0;
	font-size: 1.7em;
	display: inline-block;
}

	#pjl-logo:hover {
		cursor: pointer;
		color: #FFF;
	}

.need-help {
	float: right;
	margin: 0;
	line-height: 2.2em;
	color: #888;
}

.need-help-text {
	display: inline-block;
}

.need-help:hover {
	transition: all .3s ease;
	color: white;
	cursor: pointer;
}

.need-help > i {
	color: #ddd;
	font-weight: 500;
}

svg path:hover {
	cursor: pointer;
}

svg text {
	pointer-events: none;
}







/*******************************************************************/
/*                    LANDING PAGE STYLES                             */
/*******************************************************************/





#landing-hero {
	/*width: 100vw;*/
	height: 400px;
	background-color: #222;
	overflow: hidden;
}

#landing-hero img {
	height: 100%;
	opacity: .1;
}

.hero-bottom {
	height: 36px;
	background: linear-gradient(to bottom, #222 0%, #333 50%, #222 100%);
	border-top: 1px solid #111;
}


#landing-hero-welcome {
	color: #fff;
	font-size: 4em;
	position: absolute;
	top: 130px;
	z-index: 1;
	text-shadow: 0px 3px #000;
}

#landing-hero-pjl {
	color: #fff;
	position: absolute;
	top: 250px;
	letter-spacing: 10px;
	font-size: 2.4em;
	font-weight: 400;
	text-shadow: 0px 3px #000;
}




#landing-intro-container {
	padding: 72px 0;
	/*display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
}


.landing-intro {
	font-size: 1em;
	color: #555;
}


.fa-caret-right {
	margin-right: 20px;
	color: #050;
}


#resource-buttons {
	display: flex;
}

.resource-button:not(:last-child):not(:first-child) {
	border-right: 1px solid #000;
	border-left: 1px solid #333;
}

.resource-button:last-child {
	border-left: 1px solid #333;
}

.resource-button:first-child {
	border-right: 1px solid #000;
}

.resource-button:hover > .resource-button-text {
	background-color: rgba(256,256,256,.05);
	cursor: pointer;
	color: #fff;
}

.resource-button-text {
	color: #eee;
	padding: 7px 12px;
	margin: 0;
	font-weight: 500;
	font-size: 1em;
	display: inline-block;
	pointer-events: none;
}

.resource-dropdown {
	display: none;
	position: absolute;
	z-index: 99;
}

.resource-dropdown-content {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	background-color: #222;
	pointer-events: none;
}

.resource-dropdown-content > p {
	color: #eee;
	border-top: 1px solid #000;
	margin: 0;
	padding: 4px 12px;
	pointer-events: auto;
}

	.resource-dropdown-content > p:hover {
		background-color: rgba(256,256,256, .1);
		color: #fff;
		cursor: pointer;
	}

#landing-staff-container {
	height: 40px;
	background-color: #939393;
}

#staff-profiles {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.staff-profile {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	margin: 40px;
}


.landing-heading-box {
	margin: 72px 0;
}

.landing-heading {
	text-align: center;
	font-size: 3em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -2px;
	border-bottom: 1px solid #444;
	color: #333;
}

.landing-heading-mobile{
	display: none;
}

.landing-sub-heading {
	color: #444;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
	font-size: 1em;
}

.landing-heading-2 {
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	margin: 72px auto 36px auto;
	max-width: 700px;
	letter-spacing: 3px;
	color: #090;
}

.landing-icon-grid {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1100px;
	margin: 0 auto 128px auto;
}

#landing-grid-1 {
	/*flex-direction: column;*/
}

#landing-grid-1 .landing-icon {
	width: 48px;
	height: 48px;
	margin: auto;
}

#landing-grid-1 .landing-icon-box > div {
	/*flex: 4;
	text-align: left;*/
}

#landing-grid-1 .landing-icon-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	/*width: unset;*/
	margin: 8px 0;
}

.landing-icon-box {
	width: 300px;
}

.landing-icon-box > * {
	text-align: center;
}

.landing-icon {
	display: block;
	width: 128px;
	height: 128px;
	margin: 24px auto;
}

.landing-icon-heading {
	font-size: 1.4em;
	font-weight: 500;
	letter-spacing: -2px;
}

.landing-icon-sub-heading {
	color: #444;
	font-weight: 500;
}

.video-container {
	position: relative;
	max-width: 1100px;
	width: 60%;
	margin: 72px auto;
}

video {
	width: 100%;
	background: #000;
}

.video-title {
	font-size: 1.6em;
	margin-left: 0;
	letter-spacing: 2px;
	color: #333;
	border-bottom: 1px solid #333;
	margin-right: 0;
	margin-bottom: 8px;
	padding: 4px;
}

.video-desc p {
	margin: 4px;
}

.video-desc #video-see-more {
	float: right;
	padding: 6px;
	margin: 0;
	font-size: .8em;
	height: 12px;
	color: #456545;
	transition: all .3s ease;
}

.video-desc #video-see-more:hover {
	cursor: pointer;
	color: #009900;
	transition: all .3s ease;
}




.mobile-landing-nav * {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobile-landing-nav {
	height: 100vh;
	position: fixed;
	left: 0;
	width: 100%;
	max-width: 400px;
	z-index: 99;
	display: none;
	background-color: #222;
	border-right: solid 1px #000;
	overflow: scroll;
}

#mobile-nav-button {
	color: #ddd;
	position: relative;
	top: -6px;
	padding: 8px;
	display: none;
}

#mobile-nav-button:hover {
	cursor: pointer;
	color: #fff;
	transition: all .3s ease;
}


.mobile-resource-button-text {
	color: #eee;
	padding: 7px 12px 0 4px;
	margin: 0;
	font-weight: 600;
	font-size: 1em;
	display: inline-block;
	pointer-events: none;
	border-bottom: solid 1px #666;
	width: 100%;
}

.mobile-resource-dropdown {
	display: none;
	position: absolute;
	z-index: 99;
}

.mobile-resource-dropdown-content {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.mobile-resource-dropdown-content > p {
	color: #ddd;
	margin: 0;
	padding: 4px 24px;
	pointer-events: auto;
	width: 100%;
}

.mobile-resource-dropdown-content > p:hover {
	background-color: #252525;
	color: #fff;
	cursor: default;
}

.mobile-resource-dropdown-content > p:active {
	background-color: #333;
	color: #fff;
}















/*TITLE*/

.title-flex {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding-top: 16px;
}

#title {
	font-weight: 600;
	font-size: 2.3em;
}

#subtitle {
	font-weight: 400;
	font-size: 1.3em;
	letter-spacing: 5px;
}

#page-title {
	font-weight: 500;
	font-size: 1em;
}










/*SEARCH BAR STYLES*/

.search-container {
	margin: 5px 5px 5px 10px;
	transition: all .3s ease;
	min-width: 270px;
}

.search-box{
	position: relative;
  	max-width: 490px;
  	display: block;
  	margin: 5px 5px 5px 10px;
  	transition: all .3s ease;
  	width: 85%;
}

#search-bar {
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	outline: none;
 }

 #search-bar:hover, #search-bar:focus {
 	transition: all .3s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
 }

.search-icon {
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	top: -45px;
	right: -36px;
}

	.search-icon:hover {
		cursor: pointer;
	}












#edit-mode-button {
	display: block;
	padding: 3px;
	margin: 0;
	position: relative;
	top: 30px;
	font-size: .6em;
	height: 12px;
	color: #456545;
	transition: all .3s ease;
}

	#edit-mode-button:hover {
		cursor: pointer;
		color: #009900;/*#0000EE;*/
		transition: all .3s ease;
	}

	#edit-mode-button:active {
		/*color: #7777FF;*/
		opacity: .7;
		transition: none;
	}

















/*******************************************************************/
/*                 FOOTER                                          */
/*******************************************************************/

footer {
	min-height: 200px;
	background-color: #222;
	box-shadow: 0 0 2px 1px rgba(0,0,0,1);
}

	footer .wrap {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 0;
	}

	footer a,
	footer p {
		text-decoration: none;
		color: #555555;
		padding: 0;
		margin: 0;
	}

	footer a:hover {
		color: #FFFFFF;
	}

	footer h1,
	footer h2,
	footer h3,
	footer h4 {
	 	padding: 0;
	 	margin: 0 0 2px 0;
	 	color: #EEE;
	}

#footer-baseline {
	height: 40px;
	/*width: 100vw;*/
	background-color: #939393;
	position: relative;
	bottom: -100%;
	border-top: 1px solid #FFF;
}

#footer-left {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#footer-mid {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding: 10px;
}

.footer-title {
	margin-bottom: 10px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 2px;
	font-size: 1.2em;
	margin-bottom: 30px;
}

#staff-members {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 720px;
}

#footer-right {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.staff-member {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	margin: 0 40px 10px 0;
}

.staff-name:hover {
	cursor: pointer;
}

.staff-details {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.staff-small-detail {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	margin-top: 4px;
}

	.staff-small-detail:nth-child(3) {
		margin-top: 14px;
	}

.contact-icon {
	height: 16px;
	width: 16px;
	margin-right: 5px;
}

.staff-mugshot {
	height: 116px;
	width: 116px;
	margin-right: 12px;
	border-radius: 4px;
	border: 1px solid #252525;
}

	.staff-mugshot:hover {
		opacity: .85;
	}









/*******************************************************************/
/*                 STYLING FOR DIALOGS & MODALS                    */
/*******************************************************************/



#zip-progress-bar {
	width: 400px;
	height: 200px;
	position: fixed;
	bottom: -100px;
	background-color: rgba(250,250,250,.9);
	display: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 4px 4px 0 0;
	box-shadow: 0 0 32px 2px rgba(0,0,0,.3);
}

#zip-progress-bar progress {
	position: relative;
	width: 360px;
	height: 20px;
	left: 20px;
	bottom: -26px;
	padding: 0px;
	border: none;
}

#zip-progress-bar #file-prep {
	padding: 6px;
	color: #FFF;
	background-color: #424242;
	border-radius: 4px 4px 0 0;
	font-size: 1em;
}

#zip-progress-header {
	display: flex;
	display: -webkit-flex;
	background-color: #424242;
	justify-content: space-between;
	border-radius: 4px 4px 0 0;
}

#zip-progress-bar progress {
	color: #009900;
}

#zip-progress-bar progress::-webkit-progress-bar {
	background-color: #009900;
}

#zip-progress-bar progress::-webkit-progress-value {
	background: #009900;
}

#zip-progress-bar progress::-moz-progress-bar {
	background: #009900;
}





.modal-screen {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.03);
}

.modal-header {
	border-bottom: 1px solid #999;
	letter-spacing: 2px;
	color: #333;
	font-size: 1.2em;
	line-height: 1.2em;
	padding-bottom: 0;
}




.blurred-page {
	-webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
}










.dl-modal {
	width: 50%;
	max-width: 400px;
	max-height: 80%;
	position: fixed;
	margin: auto;
	top: 50%;
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0 0 8px 0 #777;
	border-radius: 4px;
	/*overflow-y: scroll;*/
}

.dl-modal-header {
	display: flex;
	display: -webkit-flex;
	background-color: #424242;
	justify-content: space-between;
	border-radius: 4px 4px 0 0;
}

.dl-modal-title {
	color: #ddd;
	font-size: 1.3em;
	line-height: 1.3em;
}

.dl-modal-title > span {
	font-size: .6em;
	line-height: .6em;
}

.modal-close-button {
	color: #aaa;
	padding: 4px;
}

.modal-close-button:hover {
	color: #fff;
}

.dl-modal-content {
	/*display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;*/
	height: 400px;
	overflow-y: auto;
}

.dl-modal-content > p {
	margin: 16px 8px;
}

.dl-modal-check {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 8px auto;
	width: 95%;
}

.dl-modal-check * {
	pointer-events: none;
}

.dl-modal-check:hover {
	box-shadow: 0 0 4px 0 #777;
}

.dl-modal-check i {
	border-right: 1px solid #888;
	padding: 8px;
}

.dl-modal-item-content {/*
	display: -webkit-flex;
	display: flex;
	flex-direction: column;*/
}

.dl-modal-item-content h3 {
	border-bottom: 1px solid #888;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dl-modal-item-content p {
	color: #777;
	font-size: .8em;
}

.dl-modal-check.checked {
	border-radius: 4px;
	box-shadow: 0 0 3px 3px #31841d;
}

.dl-modal-footer {
	background-color: #424242;
	width: 100%;
	border-radius: 0 0 4px 4px;
	position: relative;
	top: 2px;
}

.dl-modal-footer:hover {
	background-color: #333;
}

.dl-modal-confirm {
	font-size: 1.2em;
	text-align: center;
	color: #ddd;
	pointer-events: none;
}

.dl-modal-footer:hover .dl-modal-confirm {
	color: #fff;
}







.submit-button {
	margin: 4px auto;
	padding: 2px 4px;
	text-transform: uppercase;
	font-weight: 600;
	color: #bbb;
	border-radius: 3px;
	box-shadow: 0 1px 1px #000;
	line-height: 1.8em;
	background-color: #333;
	border: 1px solid #000;
	width: 50%;
	display: block;
}

.submit-button:hover {
	color: #eee;
	background-color: #444;
}

/*#add-location {
	padding: 5px;
	background-color: #333;
	border: 1px solid #000;
	border-radius: 4px;
	color: #999;
	left: 18%;
	position: relative;
	margin: 4px auto;
}

#add-location:hover {
	background-color: #555
}*/




@media screen and (max-width: 1100px) {
	#footer-left, #footer-right {
		display: none;
	}

	#zip-options-title {
		font-size: .9em;
	}
}


@media screen and (max-width: 880px) {

	footer .wrap {
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
	}

	.landing-heading-mobile{
		display: block;
	}

	.landing-heading-desktop{
		display: none;
	}

	#footer-mid, #footer-right {
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: 0 auto;
		text-align: center;
	}

	#footer-left,
	#footer-right {
		/*display: none;*/
	}

	#staff-members {
		width: unset;
		justify-content: space-between;
		flex-direction: column;
	}

	.staff-member {
		flex-direction: column;
		margin: 20px 40px;
	}

	.staff-details p,
	.staff-details a {
		font-size: .7em;
	}

	.staff-details h4 {
		font-size: .8em;
	}

	.staff-small-detail {
		margin: 6px auto;
	}

	#mobile-nav-button {
		display: inline-block;
	}

	.need-help-text {
		display: none;
	}

	#resource-buttons {
		display: none;
	}

	#landing-hero-welcome {
		font-size: 2.8em;
		text-align: center;
		left: 0;
		right: 0;
	}

	#landing-hero-pjl {
		font-size: 1.6em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.dl-modal {
		width: 100%;
		height: 100vh;
		border-radius: unset;
		box-shadow: unset;
		max-width: unset;
		margin: unset;
		max-height: unset;
	}

	.dl-modal-footer {
		position: absolute;
		bottom: 2px;
	}

	.dl-modal-content {
		height: unset;
	}

	.video-container {
		max-width: 1100px;
		width: 100%;
		margin: 72px auto;
	}


	#landing-grid-1 {
		flex-direction: column;
	}

	#landing-grid-1 .landing-icon-box {
		flex-direction: row;
	}

	#landing-grid-2 .landing-icon {
		width: 64px;
		height: 64px;
	}

	.landing-icon-box {
		width: 100%;
		margin-bottom: 36px;
	}

	.landing-icon-box div {
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		flex: 3;
	}

	.landing-icon-box > * {
		text-align: left;
	}

	.landing-icon-box {
		display: -webkit-flex;
		display: flex;
	}

}


